#protected-forms-config .form-type-checkboxes {
  margin-left: 5px;
  line-height: 1.5em;
}
#protected-forms-config .form-type-checkboxes .form-item {
  width: 24%;
  white-space: nowrap;
  display: inline-block;
  margin: 0px;
}
#protected-forms-config .form-type-checkboxes  .form-item {
    padding: 0;
}
