#protected-forms-config .form-type-checkboxes {
  margin-left: 5px;
  line-height: 1.5em;
}
#protected-forms-config .form-type-checkboxes .form-item {
  width: 24%;
  white-space: nowrap;
  display: inline-block;
  margin: 0px;
}
#protected-forms-config .form-type-checkboxes  .form-item {
    padding: 0;
}
#protected-forms-config #edit-actions {
  margin-top: 40px;
}
.dblog-event tr td em span {
  color: red;
  font-weight: bold;
}
.form-item-field-name-title {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
